@model IEnumerable<string>

@{
    Layout = "_TrackLayout";
}

<div class="mt-2 main">
    <h2 class="mb-2">INSPECTOR TRACKER</h2>

    @foreach (string inspector in Model ?? Enumerable.Empty<string>())
    {
        <div class="mt-4">
            @await Component.InvokeAsync("InspectionType", new { user = inspector, permit = ViewBag.Permit })
            @await Component.InvokeAsync("Stepper", new { user = inspector })
        </div>
    }

    <div class="logo mt-2">
        <img src="~/cityofsugarland.png" height="70" />
    </div>
</div>

<style>
    .main {
        max-width: 600px;
        padding-left: 10px;
    }

    h2 {
        font-family: Arial Black;
        color: #0c2e82;
    }

    .logo {
        text-align: center;
    }
</style>